body {
  background-image: url("https://media.giphy.com/media/UH06YRmgU29qw/giphy.gif");
  /* background-image: url("https://res.cloudinary.com/rebelwalls/image/upload/b_black,c_fill,fl_progressive,h_533,q_auto,w_800/v1479371023/article/R10961_image1");  
  backdrop-filter: brightness(0.1);  */
  /* background-size: 100% 20px; */
  background-position: top;
  background-repeat: none;
  /* a backdrop-filter doens't work if a GIF */
  filter: brightness(0.8);
  font-family: sans-serif; 
  margin: 0;
  padding: 20px 0 0 0;
  cursor: url("../images/neonpointer.png"), auto; 
}

/* width */
::-webkit-scrollbar {
width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
width: 11px;
background-color: #111212;
}

/* Handle */
::-webkit-scrollbar-thumb {
border: 3px solid #ff0031;
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
cursor: url("../images/neonhand.png"); 
opacity: 0.8;
}

/* Pop's logo */
h1 {
  color: #ff0031;
  background-color: black;
  font-size: 6vw; /* vw means viewport width */
  top: 150;
  margin: 0 20% 5% 20%;
  width: 50%;
  padding: 4% ;
  text-align: center;
  border: 7px solid #ff0031;
  border-radius: 20px;
  box-shadow: 2px 2px 8px #ff0031;
  text-shadow: 1px 1px 8px #ff0031;
  animation: text-flicker 2s linear infinite;
}

h1:after {
  content: "\004F\0050\0045\004E\0020\0032\0034\0020\0048\0052\0053";  /* OPEN 24 HRS (I used CSS entities) */
  font-size: 1.3vw;
  margin-top: 30px;
  margin-left: 35%;
  padding: 5px;
  max-width: 30%;
  border: 2px solid #ff0031;
  border-right: none;
  border-left: none;
  box-shadow: 0.5px 0.5px 3px #ff0031;
  display: flex; /* Ensures a line break so the text is below the title */
  justify-content: center;
}

@keyframes text-flicker {
0% {
  opacity:0.1;
  text-shadow: 1px 1px 10px #ff0031;
}
2% {
  opacity:0.1;
  text-shadow: 0 0 10px #ff0031;
}
4% {
  opacity:0.8;
  text-shadow: 0 0 10px #ff0031;
}

19% {
  opacity:0.8;
  text-shadow: 0 0 10px #ff0031;
}
21% {
  opacity:0.1;
  text-shadow: 0 0 10px #ff0031;
}
23% {
  opacity:0.8;
  text-shadow: 0 0 10px #ff0031;
}

80% {
  opacity:0.8;
  text-shadow: 0 0 10px #ff0031;
}
83% {
  opacity:0.3;
  text-shadow: 0 0 10px #ff0031;
}
87% {
  opacity:0.8;
  text-shadow: 0 0 10px #ff0031;
}
}
 
h1:hover {
  animation: falling;
  animation-duration: 1s;
}

@keyframes falling {
0% {
  transform-origin: center;
  opacity: 1;
}
20% {
  transform: 
    translate3d(0, 20px, 0)
    rotate3d(0, 0, 1, -10deg);
  opacity: 1;
}
40%, 45% {
  transform: 
    translate3d(0, -120px, 0)
    rotate3d(0, 0, 1, 10deg);
  opacity: 1;
}
to {
  opacity: 0;
  transform: 
    translate3d(0, 2000px, 0)
    rotate3d(0, 0, 1, 10deg);
}
}

/* The animated milkshake */
[total-milkshake] {
  background-color: black;
  padding: 20px;

}

[straw] {
  content: " ";
  position: relative;
  top: -200px;
  left: 160px;
  width: 300px;  
  height: 25px;
  background: repeating-linear-gradient(
      45deg,
      red,
      white 10px,
      red 10px,
      white 10px);
  border-image-outset: -60px;
  transform: rotate(110deg);
  z-index: 1; 
  }

[milkshake] {
  position: relative;
  top: 100px;
  left: 300px;
  transform:  translate(-50%, -50%);
  width: 150px;
  height: 225px;
  border: 10px solid #ff0031;
  border-radius: 0% 0% 40% 40% / 50% 50% 50% 50%;
  border-top: transparent; 
  background-image: url("../images/milkshake.png");
  background-repeat: repeat-x;
  animation: milkshake-animation infinite;
  animation-duration: 10s;
  z-index: 2;
  filter: drop-shadow(0 0 0.55rem #ff0031);
}

@keyframes milkshake-animation {
  0% {
    background-position: 0 100px;
}
10% {
  background-position: 0 100px;
}
40% {
  background-position: 1000px -70px;
}
80% {
  background-position: 1000px -80px;
}
}


/* Styling the menu */  
[container] {
display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: stretch;
margin: 0;
background-color: black;
padding-bottom: 30px;
}


[container] > article {
background: radial-gradient(#111212, #000000);
display: flex;
flex-direction: column;
align-items: center;
color: white;
border: white solid;
padding: 15px 10px 5px 10px;
border: 5px solid #ff0031;
border-radius: 200px;
box-shadow: 2px 2px 8px #ff0031;
margin: 10px;
flex-basis: 250px;
height: 250px;
}

[container] > article:hover {
cursor: url("../images/neonhand.png"), auto; 
}

article {
  animation: flickering-menu 0.1s infinite;
}

@keyframes flickering-menu {
  0%   { opacity:1; }
  10%  { opacity:0.2; }
  15%  { opacity:0.6; }
  20%  { opacity:1; }
  100% { opacity:1; }
}

[container] + h3 {
font-size: 20px;
}

svg {
  stroke:white;
  stroke-width: 2.5%;
  fill: none;
  padding: 10%;
  filter: drop-shadow(0 0 0.25rem white);
}

h3 {
  filter: drop-shadow(0 0 0.25rem white);
}

[container] > article:hover {
  background-image: url("https://media.giphy.com/media/CuP9csQY2U4NO/giphy.gif");
  background-size: cover;
  background-color: black;
}

article:hover svg{
  opacity: 0;
}

article:hover p:after {
  content: attr(data-hover);
  font-size: 20px;
  font-weight: bolder;
  line-height: 35px;
}


p {
  position: absolute;
  text-align: center;
  padding: 50px 5px 5px 5px;
  width: 150px;
  text-shadow: 0.2px 0.2px 2px white;
}

/* the MENU animation */
section {
  margin: -200px 0 -260px 0;
  background-color: black;
}

video {
  object-fit: cover;
}

h2 {
  color: white;
  text-shadow: 2px 2px 8px white;
  padding: 0;
  margin-top: -380;
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
  font-size: 5em;
  letter-spacing: 0.2em;
}

h2 span {
  opacity: 0;
  display: inline-block;
  animation: animate 1s linear forwards;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }
}

h2 span:nth-child(1){
  animation-delay: 1.5s; 
}

h2 span:nth-child(2){
  animation-delay: 2s; 
}

h2 span:nth-child(3){
  animation-delay: 2.5s; 
}

h2 span:nth-child(4){
  animation-delay: 3s; 
}

h2 span:nth-child(5){
  animation-delay: 3.5s; 
}

/* ENJOY YOUR MEAL */
h4 {
  text-align: left;
  font-size: 5vw;
  text-transform: uppercase;
  background-image: url("https://media.giphy.com/media/WrHrrwqxCTTb7uKQQX/giphy.gif");
  background-size: cover;
  background-position: center;
  -webkit-background-clip: text;
  color: transparent;
  margin: 0 10% 5% 20%;
  width: 70%;
  padding-left: 12% ;
}

h4::first-line {
  font-size: 7vw;
  letter-spacing: 10px;
}

[blackbackground] {
  background-color: black;
  padding: 20px;
  padding-top: 30px;
}

q {
  color: white;
  text-shadow: 2px 2px 8px white;
  font-weight: bold;
  font-size: 2vw;
  width: 70%;
  margin: 0 10% 5% 20%;
  padding-left: 12%;
  quotes: "'" "'";
}